.dayTip {
  border: 1px solid #e3b9f1;
  border-radius: 5px;
  margin-right: 2px;
  padding: 0px 1px 0px 1px;
}

select {
  border-radius: 5px;
}

.trainCard {
  font-size: 14px;
  font-weight: 600;
  color: #348eff;
}

.fare {
  font-size: 19px;
  font-weight: 700;
  color: #de8210;
  top: -3px;
}
