.ng-invalid:not(form){
    border: 1px solid red;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc !important;
}

.user_card {
    height: 340px;
    width: 400px;
    margin-top: 12%;
    margin-bottom: auto;
    background: #d8d5cf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#logo{
    padding-bottom: 45px;
    padding-left: 137px;
    font-size: 31px;
    font-family: -webkit-body;
    font-weight: 800;
    color: #9215a9;
}

.errorMsg{
    color: red;
}