<div class="container pt-3">
	<div class="card border-info w-100">
		<div class="card-header" style="font-weight: 600;">
			<span style="color:#b76118">{{trainObj.trainNumber}}</span> {{trainObj.trainName}}
		</div>
		<div class="card-body text-info">
			<div class="card-text">
				<div class="trainCard row no-gutters">
					<div class="trainCard col-md-6">
						<div class="row no-gutters">
							<div class="col-md-4">Source</div>
							<div class="col-md-4">Destination</div>
							<div class="col-md-2">Dep.</div>
							<div class="col-md-2">Arr.</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row no-gutters">
							<div class="col-md-9">Journey Date</div>
							<div class="col-md-3">Seats</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row no-gutters">
							<div class="col-md-9">Class</div>
							<div class="col-md-3">Fare</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="row no-gutters">
							<div class="col-md-4">{{trainObj.source}}</div>
							<div class="col-md-4">{{trainObj.destination}}</div>
							<div class="col-md-2">{{trainObj.departure}}</div>
							<div class="col-md-2">{{trainObj.arrival}}</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row no-gutters">
							<div class="col-md-9" style="font-size: 14px;">
								{{journeyDate | date:'yyyy-MM-dd '}}
							</div>
							<div class="col-md-3">{{trainObj.seats}}</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row no-gutters">
							<div class="col-md-9">{{bookingClass.className}}</div>
							<div class="fare col-md-3" *ngFor="let cls of trainObj.trainClass | farePipe: bookingClass">
								{{trainObj.fare[trainObj.trainClass.indexOf(cls)]}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-5">
		<h5>Fill Passenger Details</h5>
		<form class="pt-1" #passengerForm="ngForm" (ngSubmit)="!passengerForm.invalid">
			<div class="form-group row" *ngFor="let p of passengers; let i = index">
				<div class="col-md-3">
					<input type="text" class="form-control" [(ngModel)]="pname[i]" [name]="pname[i]"
						[ngModelOptions]="{standalone: true}" placeholder="Enter name" required>
				</div>
				<div class="col-md-2">
					<input type="number" class="form-control" [(ngModel)]="age[i]" [name]="age[i]"
						[ngModelOptions]="{standalone: true}" placeholder="Enter age" required>
				</div>
				<div class="col-md-2">
					<select class="form-control" [(ngModel)]="gender[i]" [name]="gender[i]" [ngModelOptions]="{standalone: true}">
						<option>-- gender --</option>
						<option *ngFor="let gen of genderList" [value]="gen.id">{{gen.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<select class="form-control" [(ngModel)]="preference[i]" [name]="preference[i]"
						[ngModelOptions]="{standalone: true}">
						<option>-- preference --</option>
						<option *ngFor="let pre of preferenceList" [value]="pre.id">{{pre.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<select class="form-control" [(ngModel)]="food[i]" [name]="food[i]" [ngModelOptions]="{standalone: true}">
						<option>-- food --</option>
						<option *ngFor="let food of foodList" [value]="food.id">{{food.name}}</option>
					</select>
				</div>
				<div class="col-md-1 align-self-center" *ngIf="i != 0" style="padding-left: 0;">
					<button class="deleteBtn btn-sm" (click)="deletePassenger(i)"><span class="fa fa-times"></span></button>
				</div>
			</div>
			<div class="col-md-11 text-right">
				<button class="btn btn-primary btn-sm" (click)="addPassenger()">
					<i class="fa fa-plus-circle" aria-hidden="true"></i> Add Passenger
				</button>
			</div>
			<div class="container text-center">
				<button type="submit" class="btn btn-success" [disabled]="passengerForm.invalid"
					(click)="submitPassengerDetails()">
					Proceed to Payment
				</button>
			</div>
		</form>
	</div>
</div>
